<%= render 'shared/navbar' %>
<div class="container">
  <div class="card" id="new_cocktail">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Create a new cocktail</h2>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: 'btn btn-sm' %>
        <% end %>
       </div>
    </div>
  </div>
</div>
