<%= render 'shared/navbar' %>
<div class="grid">
  <div class="section group">
    <div class="col col-3 card" id="card-show">
      <div class="card-content">
        <h1><%= @cocktail.name  %></h1>
          <%= image_tag @cocktail.photo.url, class: "img" %>
            <div class="card-description">
              <h2>Details:</h2>
              <ul><% @cocktail.doses.each do |dose| %>
                  <li><h2><%= dose.ingredient.name %></h2>
                  <p><%= dose.description %></p></li>
                  <% end %>
              </ul>
              <%= link_to "Pour a dose", new_cocktail_dose_path(@cocktail), class: "btn" %>
        </div>
      </div>
    </div>
  </div>
</div>



